/* Default spacing */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Base font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
    color:#EEEEEE;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

.headshot img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #00ADB5;
}

.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #393E46;
    overflow: hidden;
    padding-top: 60px;
    transition: left 0.5 ease;
}

.sidenav a:hover {
    background-color: #EEEEEE;
}

body:hover .sidenav, 
    .sidenav:hover {
        left: 0;
    }
